@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topics.css");
@import url("styles/contacts.css");
@import url("styles/footer.css");

:root {
    --main-font: "Poppins";
    --secondary-font: "Josefin Sans";
    --background-color: #EBECEE;
    --black: #000;
    --blue-gradient:  linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --darken-blue: #002F52;
    --gray: #474646;
    --light-gray: #858585;
    --orange: #EB9B00;
    --second-white: #F9F9F9;
    --white: #FFF;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-color);
}