.topics {
    background: var(--blue-gradient);
    text-align: center;
    padding: 1em 0;
}

.topics__item {
    margin: 2em 0.5em;
}

.topics__link {
    color: var(--white);
    background-color: var(--orange);
    padding: 1.5em 1em;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.topics__title {
    color: var(--white);
    font-weight: 300;
}

@media screen and (min-width: 1024px) {

    .topics {
        padding: 3em 10vw;
    }  

    .topics__item {
        margin: 2.5em 0.5em;
    }

    .topics__link {
        padding: 1em;
        font-size: 24px;
    }

    .topics__link:hover {
        color: var(--orange);
        background-color: var(--white);
    }

    .topics__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {

    .topics {
        padding: 3em 30vw;
    }  
    
    .topics__list {
        margin-top: 2em;
    }

    .topics__title {
        font-size: 32px;
    }
}